.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px; 
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.profile-left, .profile-right {
    float: left;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.profile-left {
    flex: 0 0 30%;
    max-width: 30%;
    align-items: center;
}

.profile-right {
    flex: 0 0 70%;
    max-width: 70%;
}

.info-category {
    color: #170A60;
}

#profile-page {
    text-align: center;
}

.info-box .text-box {
    background-color: #F6F3FF;
    border-radius: 20px;
    padding: 20px;
    padding-left: 30px;
    overflow: hidden;
    width: 100%;
    height:auto;
    display: flex;
}

.text-box {
    border: none;

}

.text-box:focus {
    outline: none;
}
