.dropdowns {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px; 
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc; /* Add a separator line */
    width: 100%;
}

.list-item:hover {
    background-color: #f0f0f0;
}

.MuiAutocomplete-listbox {
    display: flex;
    flex-direction: column;
}

.MuiAutocomplete-option {
    display: block;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
}