.title {
    color: #170A60;
}

#search-title {
    text-align: center;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container > div {
    border-radius: 15px; /* Add rounded corners */
    overflow: hidden; /* Ensure that the rounded corners are applied correctly */
}

.centered-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin top as needed */
}
