.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;
    min-width: 500px;
}

.post-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1000px;
    min-height: 150px;
    word-wrap: break-word;
    overflow: hidden;
}

button {
    margin-top: 10px;
}