.menu { 
    grid-area: menu; 
}

.posts { 
    grid-area: posts; 
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas: 'menu posts posts .';
    gap: 10px;
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
}

.create-form {
    position: fixed;
    bottom: 70px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
