.menu { grid-area: menu; }
.posts { grid-area: posts; }
.creator { grid-area: right; }

.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: 'menu posts posts right';
    gap:10px;
    width:100%;
    
}

.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 80vw; 
    max-height: 80vh;  
    overflow: auto;
    gap: 10px;


}




